# Ignore everything
*
*

# Don't ignore directories
!*/

# Don't ignore .vhd files in any directory
!**/*.vhd
# Ignore everything
*

# Don't ignore directories
!*/

# Don't ignore .vhd files in any directory
!**/*.vhd
